<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head('Информация для туристов')}"></head>
<body>
<header th:replace="~{base :: header}"></header>
<main class="container my-4">
    <h1>Информация для туристов</h1>

    <p>Уважаемые туристы!</p>
    <p>
        Вы можете приобрести туры компании RusWay в наших офисах в Москве и Санкт-Петербурге,
        а также в уполномоченных агентствах в разных городах России. Стоимость туров не будет
        отличаться от объявленной на нашем сайте.
    </p>
    <p>
        Выберите в поисковике ваш город. На карте отобразятся все агентства, которые продают наши туры
        в вашем городе. Обратитесь в ближайшее агентство, где вы сможете получить полную информацию и
        оплатить тур.
    </p>
    <p>До встречи на увлекательных маршрутах от компании RusWay!</p>

    <h2>Наши офисы</h2>
    <h3>Офисы в Санкт-Петербурге</h3>
    <ul>
        <li>ул. Кирочная, д. 19 — +7 (812) 635-30-65, +7 (906) 226-76-35</li>
        <li>пр. Владимирский, д. 15 — +7 (812) 602-63-23, +7 (906) 226-77-12</li>
    </ul>
    <h3>Офис в Москве</h3>
    <ul>
        <li>ул. Братиславская, д. 6, оф. 24 — +7 (495) 106-58-48, +7 (901) 337-00-51</li>
    </ul>

    <h2>Полезная информация</h2>
    <ul>
        <li><a href="#">Где купить</a></li>
        <li><a href="#">Покупка и оплата</a></li>
        <li><a href="#">Тур в кредит</a></li>
        <li><a href="#">Памятка туристу</a></li>
        <li><a href="#">Страхование</a></li>
        <li><a href="#">Оформление виз</a></li>
        <li><a href="#">Отправление групп</a></li>
    </ul>

    <h2>Подписка на рассылку</h2>
    <p>Хотите быть в курсе новинок, акций и скидок? Подпишитесь на рассылку!</p>
    <form th:action="@{/subscribe}" method="post" class="row g-3">
        <div class="col-auto">
            <input type="email" class="form-control" name="email" placeholder="Ваш Email" required>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Подписаться</button>
        </div>
    </form>
</main>
<footer th:replace="~{base :: footer}"></footer>
</body>
</html>
